# LangChain document loaders
langchain-community
langchain-core
langchain-chroma

# PDF reading
pypdf

paddleocr==2.9.1
paddlepaddle==2.6.2
Pillow==11.3.0
opencv-python


# Embedding Models
sentence-transformers

# Torch backend (required by sentence-transformers)
torch

chromadb

fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
pydantic-settings

pytest
pytest-mock

rank-bm25